@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #121212;
}

.cells {
  grid-template-columns: repeat(auto-fill, minmax(178px, 1fr));
}

.label-hover:hover .scale-image {
  transform: scale(1.1);
}

.thick-line-through {
  text-decoration-line: line-through;
  text-decoration-thickness: 3px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #ffffff60;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
